*{
 margin:0;
 padding:0;
 text-decoration:none;  
}
body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar>.row>*{
padding:0px;
}
@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}


.App {
  display: flex;
}
/* -------------------------------------------------------------------------------------------------------- */

.container-nav{
  transition:all 0.5s;
  display:flex;
  height: 100%;
}
.up-error{
  color:red;
}
.col{
 min-width: 210px;
}
.sidebar{
  position: fixed;
  scrollbar-width: none;
  background:rgb(45,45,45);
  color:#fff;
  height:100vh;
  transition:all 0.5s;
  overflow-y: scroll;
  min-width:50px;
  padding-left: 0px;
padding-right: 0px;
}
.dropdown-menu.show {
  display:flex;
}
.top_section{
  display:flex;
  align-items:center;
  padding:20px 15px;
} 
.link-nav{
  display:flex;
  color:rgb(45,45,45);
  padding:10px 15px;
  gap:15px;
  transition:all 0.5s;
}
.link-nav:hover{
  background:rgb(45,45,45);
  color:#fff;
  transition:all 0.5s;
}
.active{
  background:rgb(45,45,45);
  color:#fff;
}
.icon,.link_text-nav{
  font-size:auto;
}
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }
body {

  --margin-xl: 4rem;
  --margin-lg: 3rem;
  --margin-md: 2rem;
  --margin-sm: 1rem;
  --margin-xs: 0.8rem;
  --margin-xxs: 0.5rem;
  --padding-xl: 4rem;
  --padding-lg: 3rem;
  --padding-md: 2rem;
  --padding-sm: 1rem;
  --padding-xs: 0.8rem;
  --padding-xxs: 0.5rem;

  font-family: "Poppins", "sans-serif";
  /* overflow: hidden; */
  background: rgb(240, 244, 248);
}
.navbar-brand {
  background: transparent;}


