.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.link-nav{
  font-weight: 600;
  transition: all .2s ease-in-out;

}
.link-nav:active{
  background: #2c6975;
  
}
.link-nav:hover{
  background: #2c6975;
  transform: scale(1.1);
}
.sidebar{
  background:#e0ecde
}
.resume-card{
  transition:0.3s;
  cursor:pointer;
  margin-bottom: 13px;
  transition: all .2s ease-in-out;
  background:linear-gradient(340deg, rgb(159, 180, 185) 1%, rgba(255, 255, 255, 0.89) 67%)
}
.card-container{
  border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 2px;
    margin-bottom:12px;
    margin-left:0px;
    margin-right:0px;
    background: linear-gradient(0grad, rgb(34, 80, 89) 22%, rgba(255, 255, 255, 0.94) 150%)
}
.card-container > h2 > b{
  color:white;
text-shadow: rgb(14, 36, 40) 0px 1px 3px
}
.resume-card:hover{
  transform: scale(1.1);
}
#ptable table{
  --bs-table-striped-bg: rgba(44, 105, 117, 0.13);
}
.table-hover > tbody > tr:hover > * {
  color: #225059;
  background: #2c69752b;}