.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.link-nav{
  font-weight: 600;
  transition: all .2s ease-in-out;

}
.link-nav:active{
  background: #2c6975;
  
}
.link-nav:hover{
  background: #2c6975;
  transform: scale(1.1);
}
.sidebar{
  background:#e0ecde
}
.resume-card{
  transition:0.3s;
  cursor:pointer;
  transition: all .2s ease-in-out;
}
.resume-card:hover{
  transform: scale(1.1);
}
#ptable table{
  --bs-table-striped-bg: rgba(44, 105, 117, 0.13);
}
.table-hover > tbody > tr:hover > * {
  color: #225059;
  background: #2c69752b;}